<!--@doc
# @category organism
# @name mod-header
# @css ./mod-header.sass
# @desc just a simple header
-->

<!-- BEGIN_SetTemplate id="mod-footer" -->
<header class="header">
    <div class="header__inner"><span class="header__logo">{{title}}</span></div>
</header>
<!-- END_SetTemplate -->


<!--@preview
<mod-header title="steelaxe" />
-->
