<!--@doc
# @category organism
# @name mod-footer
# @css ./mod-footer.sass
# @desc just a simple footer
-->

<!-- BEGIN_SetTemplate id="mod-footer" -->
<footer class="footer">
   <p class="footer__inner">{{text}}</p>
</footer>
<!-- END_SetTemplate -->

<!--@preview
  <mod-footer text="steelaxe" />
-->
